legacy/StemmaServer/database/*
src/main/webapp/WEB-INF/docs
database/*
generated/*
scratch/*
target/*
.idea/*
upload/*
stemmarest.iml
!upload/notempty
**/.DS_Store
*swp
/target/

/.classpath
/.factorypath
/.project
/.settings/
