StemmaServer/database/*
stemmarest/database/*
stemmarest/generated/*
stemmarest/target/*
stemmarest/.classpath
stemmarest/.project
stemmarest/.*
stemmarest/upload/*
!stemmarest/upload/notempty
Tests/*