stemmarest-sources-uri:
stemmarest-sources-branch:

insecure-registries:
stemmarest-test-image:
stemmarest-final-image:

maven-config-uri:
maven-opts: --batch-mode --quiet

version-uri:
version-branch:
version-file: ci/version

ssh-keys-uri:
